body {
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;
    line-height: 1.8;
    background-image: url("../imagens/background.png");
  }
  
  p {font-size: 16px;}

  .margin {margin-bottom: 45px;}



  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }

  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
  }

  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  .navbar-brand{
    padding-top: 0px;
  }
  .btn{
    background-color: #474e5d;
  }
  .btn2{
    width: 150px;
    height: 150px;
    background-color: #474e5d;
    padding-left: 0px;
    padding-top: 0px;
    border-radius: 5%;
  }
  .margemtop{
    padding-top: 15px;
    margin-bottom: 10px;
  }
  .btn1{
    width: 40vw;
    height: 7vh;
    display: block;
    margin-top: 3vh;
    background-color: #474e5d;
    border: 1px solid;
    border-radius: 4%;
    position:relative;
    top:50%; 
    left:30%;
}
.btnhover1:hover{
  background-color: rgba(0, 128, 0, 0.800);
}
.btnhover2:hover{
  background-color: rgba(255, 255, 0, 0.800);
}
.btnhover3:hover{
  background-color: rgba(255, 0, 0, 0.800);
}

.preto{
  
  color: #000000;
}

